@media screen and (min-width: 375px) {
    html, body {
        background-image: url('images/pattern-background-mobile.svg');
        background-color: hsl(225, 100%, 94%);
        background-repeat:no-repeat;
        background-size:contain;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

html, body {
    background-image: url('images/pattern-background-desktop.svg');
    background-color: hsl(225, 100%, 94%);
    background-repeat:no-repeat;
    background-size:contain;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-rows: 83px 600px 83px;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 1em;
}

/* .container > div:nth-child(1n) {
    background-color: #96ceb4;
} */

.container > div:nth-child(2n) {
    background-color: white;
    align-items:baseline;
}

/* .container > div:nth-child(3n) {
    background-color: #096e3b;
} */

.header{
    grid-column: 1/-1;
}

.content{
    grid-column: 2/3;
}

.footer{
    grid-column: 1/-1;
}

.inside > h1 {
    text-align: center;
    padding: 30px 20px 0px 20px;
}

.img-hero {
    width: 400px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.inside > p {
    text-align: center;
    padding:5px 15px;
    margin: 15px;
    color: gray
}

.inside > p:nth-child(2n) {
    text-align: center;
    padding: 5px 0px;
    margin: 15px 130px;
}

.inside > p:nth-child(2n):hover {
    text-align: center;
    padding:5px 0px;
    margin: 15px 130px;
    color: black
}

.annual-plan {
    display: flex;
    padding: 15px 20px;
    margin: 15px 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 0.5em;
}

/* .annual-plan >p:nth-child(1n){
    background-color: ;
} */

.price >p:nth-child(1n){
    padding: 0px 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.price >p:nth-child(2n){
    padding: 0px 20px;
    padding-top: 5px;
    font-weight: normal;
    color:gray
}

.annual-plan >p:nth-child(3n){
    /* background-color: rgb(245, 245, 245); */
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    margin-left: auto;
    margin-top: 15px;
}

.annual-plan >p:nth-child(3n):hover{
    /* background-color: rgb(245, 245, 245); */
    color: rgb(111, 111, 201);
    text-decoration: underline;
    margin-left: auto;
    margin-top: 15px;
}

button{
    border-radius: 0.75em;
    height: 50px;
    width: 350px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: bold;
    box-shadow: 0px 2.5px 15px gray;
    margin: 10px 25.5px;
}

button:hover{
    border-radius: 0.75em;
    height: 50px;
    width: 350px;
    border: none;
    background-color: rgb(111, 111, 201);
    color: white;
    font-weight: bold;
    box-shadow: 0px 2.5px 15px gray;
    margin: 10px 25.5px;
}